<form ng-controller="CreateCtrl" ng-submit="create()">
  <!-- <label>Image to upload:</label> -->
  <!-- <input class="pic" type="file" accept="image/*" capture="camera" ng></input> -->
  <input type="text" placeholder="Enter your name." ng-model="patient"></input>
  <input type="text" placeholder="Enter your location (optional)." ng-model="location"></input>
  <input type="text" placeholder="Describe your symptoms (up to 140 characters)." ng-model="symptoms" maxlength="140"></input>
  <input type="url" placeholder="Enter image url" ng-model="src"></input>
  <input type="submit"></input>
</form>